<div class="row" id="tout">
<div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-text card-header-warning">
        <div class="card-text">
          <h4 class="card-title">Ressources Formateurs</h4>
          
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            
            <th>Nom</th>
            <th>Prenom</th>
            <th>URL</th>
            <th>PDF</th>

          </thead>
          <tbody>
            
            <tr>
              <td>إثنان</td>
              <td>بمباركة بها </td>
              <td>$23,789</td>
              <td>الأمريكية من</td>
            </tr>
            <tr>
              <td>ثلاثة</td>
              <td> شاسعالأمريكية </td>
              <td>$56,142</td>
              <td>السفن وعُرفت</td>
            </tr>
            <tr>
              <td>أربعة</td>
              <td> الاندونيسية</td>
              <td>$38,735</td>
              <td> فصل.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-rose">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Mes Ressources</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item active">
                <a class="nav-link active" href="#profile" data-toggle="tab">
                  
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
               
              </li>
              <li class="nav-item">
                
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
            <table class="table">
                <thead style="color: orange;">
                    <th>URL</th>
                    <th>PDF</th>
                </thead>
              <tbody *ngFor="let item of listRessource">
                
                
                
                
                <tr>
                  
                  <td>{{item.url}}</td>
                  <td>{{item.pdf}}</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                      <i class="material-icons">edit</i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         
         
        </div>
      </div>
    </div>
  </div>
</div>