<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('../../assets/img/register.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center">Ressources</h2>
              <div class="card-body">
                <div class="row">
                  <img src="../assets/img/Page.png" style="padding-right: 150px; padding-left: 50px;">
                  <div class="col-md-5 mr-auto">
                <img id="register" src="../assets/img/Page-1.png" width="100px">
                    <form class="form" [formGroup]="formgroup" (ngSubmit)="ajouterRessource(formgroup)">
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" formControlName="pdf" placeholder="PDF">
                        </div>
                      </div>
                      <h3>OU</h3>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" formControlName="url" placeholder="URL">
                        </div>
                      </div>
                     
                      
                      <button type="submit" class="btn btn-warning me-5" >
                        Envoyer
                     </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com/">
                  Liste Rendu
                </a>
              </li>
            </ul>
          </nav>
          
        </div>
      </footer>
    </div>
  </div>