<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('../../assets/img/register.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup">
              <h2 class="card-title text-center">Ressources</h2>
              <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                          <div class="card-header card-header-tabs">
                            <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Mes Ressources</span>
                                
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="tab-content">
                              <div class="tab-pane active" id="profile">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      
                                      <td> فقد لمحاكم الاندونيسية, بلاده بالتوقيع تم يبق. جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td>بحث. كل مما ٢٠٠٤ شاسعة العسكري جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td> تسبب أفريقيا ضرب عن, عن إنطلاق جعل السبب وفرنسا الصينية أي.
                                      </td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane" id="messages">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="tab-pane" id="settings">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                    <tr>
                                      
                                      <td>قدما مليون بين عن, مرجع منتصف الأمريكية جعل السبب وفرنسا الصينية أي.</td>
                                      <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                          <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                          <i class="material-icons">close</i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <div class="col-md-5 mr-auto">
                <img id="register" src="../assets/img/Page-1.png" width="100px">
                    <form class="form" method="" action="">
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="First Name...">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Email...">
                        </div>
                      </div>
                      <div class="form-group has-default">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input type="password" placeholder="Password..." class="form-control">
                        </div>
                      </div>
                      
                      <div class="text-center">
                        <a href="#pablo" id="btn" class="btn btn-round mt-4">Envoyer</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com/">
                  Liste Rendu
                </a>
              </li>
            </ul>
          </nav>
          
        </div>
      </footer>
    </div>
  </div>