<div class="col-lg-6 col-md-12" id="tout">
    <div class="card">
      <div class="card-header card-header-text card-header-warning">
        <div class="card-text">
          <h4 class="card-title">Ressources</h4>
          
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            
            <th>Nom Apprenant</th>
            <th>Prenom Apprenant</th>
            <th>URL</th>
            <th>PDF</th>

          </thead>
          <tbody *ngFor="let item of listRessource">
            
            <tr>
              <td>{{item.apprenant.nom}}</td>
              <td> {{item.apprenant.prenom}} </td>
              <td>{{item.lien}}</td>
              <td>{{item.pdf}}</td>
            </tr>
            
            
          </tbody>
        </table>
      </div>
    </div>
  </div>